.about {
  padding: 4rem 0;
}
.about-center {
  width: 80vw;
  margin: 0 auto;
}

.about-img {
  margin: 0 5rem;
}

.about-info h2 {
  padding-top: 2rem;
}

.about-info p {
  line-height: 1.75rem;
}

@media screen and (min-width: 576px) {
  .about-info h2 {
    padding-top: 2rem;
  }
  .about-img {
    margin: 0 7rem;
  }
}

@media screen and (min-width: 768px) {
  .about-info h2 {
    padding-top: 0rem;
  }
  .about-center {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-column-gap: 2rem;
    align-items: flex-start;
  }

  .about-img,
  .about-info {
    margin: 0;
  }
  .about-img img {
    max-width: 300px;
  }
  .img-container {
    max-width: 300px;
  }
  .about-info p {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .about-center {
    grid-column-gap: 0rem;
  }
}
