.project {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.project:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
  background: var(--primaryColor);
  transition: var(--mainTransition);
}
.img {
  transition: var(--mainTransition);
}
.img-container:hover .img {
  opacity: 0.3;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.link:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.img-container:hover .link {
  opacity: 1;
}

.footer {
  background: #eeeeee;
  padding: 1rem 1rem 0.5rem 1rem;
  text-align: left;
}
.footer h3,
h4 {
  text-transform: capitalize;
  margin-bottom: 0.1rem;
}

.footer h4 {
  color: var(--primaryColor);
}
