.template {
  padding: 2rem 0;
}
.center {
  width: 80vw;
  margin: 0 auto 4rem auto;
}
.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
}
.image {
  box-shadow: var(--lightShadow);
}
.project-info h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin: 2rem 0 1rem 0;
}

.project-info h1 {
  padding: 0.75rem;
  background: #eeeeee;
}

.project-info h1 span {
  color: var(--primaryColor);
}

.desc {
  display: inline-block;
  line-height: 2;
  padding-bottom: 2rem;
  color: gray;
}

.technologies {
  display: inline-block;
  padding-right: 1rem;
}

.project-info h4 {
  color: gray;
}

.project-link {
  color: var(--primaryColor);
}

.project-info h3 {
  display: inline-block;
  padding-right: 1rem;
}

.template h2 {
  margin: 2rem 0;
}
@media screen and (min-width: 992px) {
  .desc {
    width: 75vw;
  }
}
@media screen and (min-width: 1200px) {
  .center {
    width: 95vw;
    max-width: 1170vw;
  }
  .images {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-column-gap: 50px;
  }
}
